{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="row">
        {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='covers/' ~ book.cover.file_name) }}" class="card-img-top" alt="Обложка книги">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.description[:100] }}...</p>
                        <a href="{{ url_for('book_detail', book_id=book.id) }}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
